@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 0px 60px;
  min-height: 10vh;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  display: none;
}

.head {
  display: none;
}

footer {

  width: 200vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 5px 0px;
  min-height: 10vh;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;

}


#X {
  display: none;
}

header ul,
footer ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 18px;
}

header ul li,
footer ul li {
  cursor: pointer;
}

.links {
  text-decoration: none;
  color: black;
  position: relative;
  z-index: 10;
  margin: 2px;
  padding: 10px;
  border: 1px solid black;
}

.links::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.links:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(32, 180, 190);
  border: 1px solid black;
}


.linkss {
  text-decoration: none;
  color: black;
  position: relative;
  z-index: 10;
  margin: 2px;
  padding: 10px 20px;
  border: none;
}

.linkss::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.linkss:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgb(32, 180, 190);
  border: 1px solid black;
}

.login {
  min-height: 80vh;
  background-color: #D8E3DB;
  display: flex;
  align-items: center;
}

.login form,
.signup form {
  margin: 0 auto;
  max-width: 300px;
  min-height: 400px;
  background-color: rgb(234, 236, 235);
  border: 1px solid black;
  padding: 30px 70px;
  border-radius: 5px;

}

.loginn form{
  margin: 0 auto;
  max-width: 300px;
  min-height: 400px;
  background-color: rgb(234, 236, 235);
  border: 1px solid black;
  padding: 30px 70px;
  border-radius: 5px;

}

form h1 {
  text-align: center;
  margin-bottom: 30px;
}

.inp {
  margin: 20px 0;
}

.inp label {
  display: block;
  margin: 3px 0;
  font-weight: bold;
}

.inp input {
  width: 100%;
  outline: none;
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
}

.btn {
  text-align: center;
  padding: 5px 10px;
  background-color: aquamarine;
  border-radius: 5px;
  margin: 0px auto;
  transform: translate(75%, 50%);
  border: 2px solid black;
}

.signup {
  font-size: medium;
  margin: 0px auto;
  padding: 30px 0;

}

.signup span {
  color: rgb(8, 50, 236);
  font-weight: bold;
  font-size: small;
  cursor: pointer;
}

.userdash {
  min-height: 80vh;
  padding: 10px;
  background-color: #D8E3DB;
}

.mainformdiv {
  position: relative;
}

.userdashimage {
  height: 100vh;
  width: 100vw
}

.detailsdiv {
  width: 100%;
  padding: 40px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.details {
  margin: 50px auto;
  width: 400px;
  background-color: rgb(234, 236, 235);

  min-height: 300px;
  padding: 30px 30px;
  border-radius: 10px;
}

.details h1 {
  font-size: 40pxpx;
  margin-bottom: 30px;
}

.details button {
  border: 1px solid black;
  background-color: aquamarine;
  border-radius: 5px;
  cursor: pointer;
}

.details .link {
  transform: translate(-50%, -50%);
}

.home {
  min-height: 80vh;
  background: rgb(205, 210, 210);
  padding: 0;
}

.home img {
  height: 85vh;
  width: 100vw;
  position: relative;
  opacity: 0.8;
}


.home h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 40px;
}

.homelink {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.formdiv {
  width: 100vw;
  padding: 40px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.updateform {
  width: 400px;
  min-height: 300px;
  margin: 30px auto;
  background-color: rgb(234, 236, 235);
  padding: 10px 120px;
  border-radius: 10px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.updateinp label {
  display: block;
  margin: 3px 0;
}

.updateinp {
  margin: 10px 0;
}

.updateinp input {
  padding: 3px 0;
  border-radius: 2px;
  border: none;
}

.updateform button {
  margin: 10px 0;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid black;
  background-color: aquamarine;
  cursor: pointer;
}

.adminlogin {
  height: 80vh;

}

.adminlogin form {
  width: 300px;
  box-sizing: border-box;
  margin: 50px auto;
  background-color: bisque;
  min-height: 300px;
}

.adminlogin form .inp {
  width: 70%;
}

.admindashboard {
  background-color: #D8E3DB;
  min-height: 80vh;
  position: relative;
  padding: 10px;
}

.tables {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding: 30px 50px;
  gap: 50px;
  position: relative;
  /* display: flex;
  flex-direction: column; */
}

.supptable {
  width: 50%;
}




.admintable,
.userstable {
  width: 100%;
}

.productplaced {
  width: 100%;
}


.productplaced th,
td,
.productplaced th,
td {
  padding: 10px 3px;
}


.productss {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  /* position: relative; */
  /* background: rgb(234, 236, 235); */
  border: 5px solid rgb(0, 0, 0);
}

.productss>button {
  position: absolute;
  cursor: pointer;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(233, 241, 239);
  border: 2px solid black;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #0f0f0f;
}


.admintable th,
td,
.userstable th,
td {
  padding: 10px 3px;
}

.admreg {
  width: 100%;
}

.admreg form {
  background-color: aquamarine !important;
  position: fixed;
  left: 50%;
  top: 60%;
  border: 2px solid black;
  ;
  transform: translate(-50%, -40%);
  width: 400px;
  margin: 0 auto;
  margin-top: -100px;
  padding: 20px;
  z-index: 99;
  margin-top: -100px;
}


.adminp {
  margin: 15px 0;
}

.adminp label {
  margin: 5px 0;
  display: block;
}

.adminp input {
  width: 100%;
}

.close {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid black;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.prod-close {
  position: absolute;
  top: -15px !important;
  right: -15px !important;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.newad {
  position: fixed;
  left: 0;
  top: 20%;
  transform: translate(0, -50%);
  width: 70px;
  padding: 2px 0;
  cursor: pointer;
  min-height: 60px;
  background-color: #ccc;
  border-radius: 5px;
  border: none;
}

.ind {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ind form {
  width: 300px;
  background-color: bisque;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.ind form input {
  margin: 10px 0;
  padding: 5px 3px;
}

.indinp label {
  display: block;
}

.maindivprod {
  box-sizing: border-box;
  /* width: 100%; */
  margin: 0px 50px;
  background-color: rgba(0, 0, 0, 0);
  padding: 30px;
}

.products {
  width: 60vw;
  margin: 30px auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 30px 30px;
  border-radius: 5px;
}

.products h1,
.prods h1 {
  color: #444444;
}

.orderplace {
  width: 50vw;
  margin: 30px auto;
  padding: 30px 30px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  position: relative;

}

.orderdet {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.orderdet h1 {
  margin: 5px 0;
  font-size: 24px;
}

.totalitems {
  position: absolute;
  top: -10px;
  right: -10px;
  /* padding: 3px; */
  background-color: aquamarine;
  width: 20px;
  height: 20px;
  display: flex;
  border: 1px solid black;

  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.customer,
.prods {
  margin-top: 30px;
}

.customer label,
.prods label {
  display: block;
}

.customer input,
.prods select,
.prods option {
  margin: 5px 0;
  padding: 3px 2px;
}

.prods select {
  width: 80% !important;
}

.select {
  display: block;
}

.customer input {
  outline: none;
}

.prods select {
  max-height: 200px;
  overflow-y: auto;
}

.products button {
  margin-top: 30px;
}


.prods select {
  background-color: #CDD2D2;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 1px solid black;
  border-radius: 3px;
}

option {
  padding: 10px;
  background-color: #CDD2D2;
  color: #333;
}

.num input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
}

.receipt {
  text-align: start;
  max-width: 400px;
  margin: 50px auto;
  background-color: rgb(215, 228, 228);
  padding: 30px;
  border-radius: 5px;
  border: 1px solid black;
}

.receipt p {
  margin: 10px 5px;
}

.receipt button {
  padding: 7px;
  background-color: aliceblue;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
}

.sort {
  background-color: rgb(160, 226, 226);
  padding: 10px 0;
  margin: 10px 0px;
}

.searchsort {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 10px;
  margin: 30px 40px;
}

.closed {
  /* display: none; */
}

.abt {
  margin: 0;
}

.about {
  min-height: 80vh;
  /* padding: 0 20px; */
  background-color: #D8E3DB;
}

.welcome,
.offers {
  margin: 0px 0;
  padding: 10px 80px;
  text-align: justify;
  margin-bottom: 50px;
  margin: 50px 20px;
}

.offers {
  margin: 0 20px !important;
  padding: 20px 80px;
}

.welcome h1,
.offers h1 {
  text-align: center;
  color: #444444;

  margin: 20px 0;
}

.welcome p,
.mission p {
  font-size: large;
}

.mission >p{
  margin: 40px 120px;
}

.cableguy {
  background-color: #F8FCF9;
  text-align: center;
  padding: 20px;
  padding: 10px 60px;
  margin: 0 10px;


}

.cableguy h1 {
  text-align: center;
  color: #444444 !important;

}

.cableguy p {
  font-size: 19px;
  letter-spacing: 1.3px;
}

.mission {
  margin: 10px 0;
  padding: 10px 80px;
  text-align: justify;
  margin-bottom: 50px;
}

.mission h1 {
  text-align: center;
  /* -webkit-text-stroke: #22b4ce;
  -webkit-text-stroke-width: 2px; */
  color: #444444;
  margin: 20px 0;
}

.mission_img {
  width: 80% !important;
  height: 60vh;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.mission_img img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px !important;
}

.abt {
  position: relative;
}

.abt h1 {
  position: absolute;
  top: 10;
}

.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.offer p {
  width: 25vw;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  min-height: 200px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: large;
}

.offer p:hover {
  background-color: lightblue;
  scale: 1.02;
  /* opacity: 0.7; */
}

.img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.moreabt {
  position: absolute;
  top: 40%;
  left: 47%;
  color: white;
  transform: translate(-50%, -60%);
  gap: 10px;
  width: 200px;
}

.moreabt h1 {
  margin: 40px 0;
  font-size: 40px;

}

.moreabt h3 {
  font-size: 30px;
}

.abt_details {
  width: 100%;
  background-color: #ccc;
  margin-top: 30px;

}

.abt_details_sec1 {
  width: 60%;
  background-color: white;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  /* animation: abt 10s linear infinite; */
}

.abt_details_sec1 h1 {
  color: #1F2951;
  font-size: 40px;
}

.userdet {
  display: flex;
  gap: 30px;
  font-weight: bold;
  margin: 10px 0;
}

.abt_details_sec1 p {
  letter-spacing: 1.3px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

.abtbtn button {
  padding: 7px;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
  color: black;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.abt_details,
.cableguy {
  /* margin: 40px 20px; */
  padding: 20px;
}

.dropdown {
  background-color: aquamarine;
  border-radius: 5px;
  margin-top: 5px;
  transition: 1s;
  text-decoration: none;
  color: black !important;
}

.dropdown:hover {
  background-color: rgb(194, 107, 211);
  color: white !important;
}

@keyframes abt {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(120%, 0);
  }
}

.element {
  animation: abt 2s linear infinite;
}


.orderhistory {
  min-height: 80vh;
  background-color: #D8E3DB;
  padding: 20px;
}

.indorderh1 h1 {
  display: inline;
  font-weight: lighter;
  margin: 25px 0px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(234, 236, 235);
  border: 1px solid black;
}

@media (max-width:500px) {

  .home img {
    object-fit: cover;
  }

  .tables {
    flex-direction: column;
    padding: 30px 10px;
    align-items: center;

  }

  .admintable,
  .userstable {
    width: 82vw;
  }

  .supptable {
    margin: 0 auto;
  }

  .stickylinks {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    /* position: sticky !important;
    top: 20 !important;
    left: 0; */
    padding: 10px;
  }

  .newad {
    margin-top: 30px !important;
    position: sticky !important;
    left: 0;
    top: 0;
    /* transform: translate(0, -50%); */
    width: 70px;
    padding: 2px 0;
    cursor: pointer;
    height: 50px;
    font-size: 12px;
  }

  .admreg {
    width: 100%;
    padding: 0px 50px;
  }

  .admreg form {
    background-color: rgb(234, 236, 235);
    position: fixed;
    left: 50%;
    top: 60%;

    /* transform: translate(-50%, -80%) !important; */
    width: calc(100vw - 100px) !important;
    margin: 0 auto;
    margin-top: -100px;
    /* margin-bottom: 50px; */
    padding: 20px;
    z-index: 99;
    margin-top: -100px;
    /* margin-bottom: 20px; */
  }

  .maindivprod {
    margin: 10px auto;
  }

  .products {
    width: 90vw;
    margin: 0 auto;
  }

  .productss {
    width: 400px;
    font-size: x-small;
    transform: translate(-50%, -45%);
    border: 5px solid rgb(0, 0, 0);
  }

  .mainformdiv img {
    height: 60vh !important;
    object-fit: cover;
  }

  .details {
    max-width: 300px;
  }

  .updateform {
    width: 300px;
    padding: 10px 80px;
  }

  .sort {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .sort .links {
    min-width: calc(100% / 2 - 20px);
    cursor: pointer;
    border: 1px solid black !important;
  }


  footer {
    height: 10vh;
  }

  header {
    height: 10vh;

  }

  .open {
    position: sticky !important;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 10vh;
    width: 100vw;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    background-color: #F3E8FF;
    transition: 0.3s;
  }

  .closed {
    display: block;
  }

  .head {
    display: block;
  }

  .closes {
    display: none;
  }

  .open ul {
    display: block !important;
    gap: 40px !important;
  }

  .open ul li {
    display: block;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .open ul li a {
    color: #7E22CE !important;
  }

  .moreabt {
    left: 40%;
  }


  .orderhistorytable {
    font-size: x-small;
    width: 90vw !important;
  }

  .orderhistorytable th,
  .orderhistorytable td {
    width: 30px !important;
  }

  .orderhistoryh1 {
    transform: translateX(10px) !important;
    margin-top: 50px;
    z-index: 10;
  }

  .productplaced {
    font-size: small;
    width: 90vw;
    margin: 30px auto;
  }

  .customer h1,
  .prods h1 {
    font-size: large;
  }

  .maindivprod select {
    display: block;
    width: 100%;
  }

  .maindivprod {
    padding: 0;
  }

  .orderplace {
    width: 80vw;
  }

  .receipt {
    width: 80vw;
  }

  .mission,
  .offers,
  .welcome {
    padding: 20px !important;
  }

  .mission_img {
    width: 100% !important;
    height: 40vh;
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }

  .mission_img img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px !important;
  }

  .offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }

  .offer p {
    width: 80vw;
    padding: 20px;
    border: 1px solid black;
    min-height: 200px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    font-size: medium;
  }

  .cableguy {
    padding: 10px;
    margin: 0 10px;
  }

  .cableguy p {
    font-size: 16px;
    letter-spacing: 1.3px;
  }

  .abt_details {
    width: 100%;
    background-color: #ccc;
    margin-top: 30px;

  }

  .abt_details_sec1 {
    width: 100%;

  }

  .abt_details_sec1 h1 {

    font-size: 30px;
  }

  .homedesc h1 {
    font-size: 30px;
  }

  .indorderh1 h1 {
    font-size: medium !important;
  }
}



@media (min-width:500px) and (max-width:767px) {
  .home img {
    object-fit: cover;
  }

  .maindivprod select {
    display: block;
    width: 100%;
  }

  .maindivprod {
    padding: 0;
  }

  .orderplace {
    width: 80vw;
  }

  .sort {
    /* gap: 20px; */
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
  }

  .sort .links {
    min-width: calc(100% / 2 - 20px);
    cursor: pointer;
    border-radius: 5px;
  }

  .customer input {
    width: 100% !important;
  }


  .stickylinks {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    /* position: sticky !important;
    top: 20 !important;
    left: 0; */
    padding: 30px 50px;
    padding-bottom: 0;
  }

  .newad {
    margin-top: 30px !important;
    position: sticky !important;
    left: 0;
    top: 0;
    /* transform: translate(0, -50%); */
    width: 70px;
    padding: 2px 0;
    cursor: pointer;
    height: 50px;
    font-size: 12px;
  }

  .tables {
    flex-direction: column;
    padding: 30px 10px;
    align-items: center;

  }

  .admintable,
  .userstable {
    width: 82vw;
  }

  .supptable {
    margin: 0 auto;
  }

  .about {
    padding: 0;
  }

  .welcome {
    padding: 20px;
  }

  .cableguy {
    margin: 40px 20px;
    padding: 30px;
  }

  .abt_details_sec1 {
    width: 100%;
  }

  .mission {
    padding: 20px;
  }

  .mission_img {
    width: 100% !important;
  }

  .mission_img img {
    width: 100%;
    object-fit: cover;
  }

  .offers {
    padding: 20px;
  }

  .offer p {
    width: 80vw;
    padding: 20px;
    border: 1px solid black;
    min-height: 200px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    font-size: medium;
  }

  .moreabt {
    left: 43%;
  }

  .mainformdiv img {
    height: 60vh !important;
    object-fit: cover;
  }

  .maindivprod {
    margin: 10px auto;
  }

  .products {
    width: 90vw;
    margin: 0 auto;
  }

  .indorderh1 h1 {
    font-size: large !important;
  }

  .productss{
    width: 400px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .home img {
    object-fit: cover;
  }

  .welcome {
    padding: 10px 40px;
  }

  .abt_details_sec1 {
    width: 80%;
  }

  .mission_img {
    width: 100% !important;
  }

  .offers {
    padding: 40px;
  }

  .offers p {
    width: 40vw;
    padding: 20px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    font-size: large;
  }

  .mainformdiv img {
    height: 60vh !important;
    object-fit: cover;
  }

  .maindivprod {
    margin: 10px auto;
  }

  .products {
    width: 70vw;
    margin: 0 auto;
  }

  .prods select {
    width: 80%;
  }

  .indorderh1 h1 {
    font-size: larger !important;
  }

  .moreabt {
    left: 42%;
  }
  .productss{
    width: 400px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .home img {
    object-fit: cover;
  }

  .abt_details_sec1 {
    width: 70%;
  }

  .mission_img {
    width: 100% !important;
  }

  /*
.mission_img img{
  object-fit: cover;
  width: 100%;
  border-radius: 5px !important;
  height: 400px;
  width: 100%;
} */

  .offers {
    padding: 60px;
  }

  .offer p {
    width: 40vw;
  }

  .mainformdiv img {
    height: 60vh !important;
    object-fit: cover;
  }

  .prods select {
    width: 80%;
  }

  .indorderh1 h1 {
    font-size: x-large !important;
  }
}

@media (max-width:1200px) {
  .prods select {
    width: 80% !important;
  }
}